h1 {
    font-family: Georgia;
    text-shadow: 3px 2px 1px blue;
    font-size: px;
    color: navy
    
  }
  
  h2 {
    font-family: "Georgia", cursive, sans-serif;
    color:blue
  }
  
  h3 {
    font-family: Arial, sans-serif;
    
  }
  h4{
    font-family: ;
    color:blue
  }
  p:nth-child(6){
    text-align: right;
  }
  span{ color: blue;

  }